/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, 
body {
    height: 100%;
}

body {

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#section-list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
}

.actionList{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}

.actionList ul {
    list-style: none;
    padding-left: 0;
}   

.form-addToDo{
    display: flex;
    flex-direction: column;
}
#addListSection{
    position: absolute;
    top:50%;
    right:0;
    
    
}
#addListButtonSymbol {
    font-size: 4rem;
    color: darkgray;
    cursor: pointer;
}

.hidden {
    display: none;
}
.actionList-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.actionList-closeButton{
    cursor: pointer;
}
.form-addToDo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.todo-li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
    padding: 5px 10px;
}
.actionList .todos{
    border: 1px solid lightgrey;
    border-radius:5px;
    padding: 0 4px 0 4px;
}